#right{
	text-align: center;
}

.move{
	color:cornflowerblue;
	display:none;
}

.move:hover{
	color:blue;
}

.delete-cl{
	color:cornflowerblue;
	display:none;
}

.delete-cl:hover{
	color:blue;
}
