*{
margin:0;
padding:0;
}

body{
  min-width: 900px;
  max-width: 100%;
}
a{
	color:black;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
}

/*下面是导航条的样式*/
nav{
  
   width:100%;
   height:0.5rem;
   position:fixed;
   top:0;
   left:0;
   background-color:greenyellow;  
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   font-size:0.1rem;
 
}

#logo{
    height:0.5rem;
}

#nav-left,#nav-right{
    height:0.5rem;
}

#nav-left{
    width:5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#search-box{
	
	width:2rem;
}
#nav-right{
    width:4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  
}

nav a{
    width:0.6rem;
}





/*下面是左侧个人中心二级目录的样式*/
#left{
   list-style: none;
   position:fixed;
   top:1rem;
   left:1.5rem;
   font-size:0.1rem;
   
}

#left li:first-child{
     border-radius:5px 5px 0 0 ;
     background-color:greenyellow;
}

#left li:last-child{
     border-radius:0 0 5px 5px ;
}
#left li{
    border:1px solid #777777;
    text-align: center;
    width:0.8rem;
    height:0.4rem;
    line-height:0.4rem;
}

.active1{
    font-weight: bold;
}

/*下满是主体内容section的样式*/
#main{
    margin-top:1rem;
    margin-left:2.3rem;
    height:auto;
    width:7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:0.1rem;
}

/*下面是博客展示的样式*/
dt{
   background-color:#e7e7e7;
   height:0.3rem;
   width:5rem;
   text-align: center;
   border-radius: 5px 5px 0 0;
   line-height: 0.3rem;
}

.blog-info{
	width:5rem;
	height:0.2rem;
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
}

.blog-text{
   height:auto;
   width:5rem;
   overflow: hidden;
   border-left:1px solid #e7e7e7;
   border-right:1px solid #e7e7e7;
   border-bottom: 1px solid #e7e7e7;
   border-radius: 0 0 5px 5px;
}



.thumb-up{
	width:5rem;
	height:0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size:0.2rem;
}

.thumb-up-text{
	width:5rem;
	height:0.2rem;
	text-align: center;
}

.glyphicon-thumbs-up:hover{
	cursor:pointer;
	
}
.input-comment{
	width:5rem;
	height:0.6rem;
}

#comment-btn{
	background-color: greenyellow;
}
.comment p{
	width:5rem;
	height:auto;
	border:1px solid #e7e7e7;
}

.edit{
	color:cornflowerblue;
	display:none;
}

.edit:hover{
	color:blue;
}

.delete-btn{
	color:cornflowerblue;
	display:none;
}

.delete-btn:hover{
	color:blue;
}

/*下面是右侧博客分类的样式*/

#right{
	text-align: center;
}
#time-sort,#topic-sort{
	list-style: none;
	width:1.2rem;
	height:1.5rem;
	overflow-y: scroll;
	overflow-x:hidden;
}

#right li{
	text-align: center;
}
h3{
	background-color:greenyellow;
	text-align: center;
	border-radius: 5px;
}

.glyphicon-trash:hover{
	 color:blue;
	 cursor:pointer;
}

.errorlist{
    color:red;
    font-size: 0.08rem;
    list-style: none;
}