#right{
	text-align: center;
	
}

#bookmark-sort{
	list-style: none;
	width:1.2rem;
	height:1.5rem;
	overflow-y: scroll;
	overflow-x:hidden; 
}
.move{
	color:cornflowerblue;
	display:none;
}

.move:hover{
	color:blue;
}

.delete-cl{
	color:cornflowerblue;
	display:none;
}

.delete-cl:hover{
	color:blue;
}

.errorlist{
	color:red;
	font-size:0.08rem;
}