{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}博客列表{% endblock title%}
{% block mycss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/blogs-list.css'%}"/>
{% endblock mycss%}

{% block content %}
<section id="main">
		<!--下面是左边的博主个人信息-->
	<div id='left'>
		<a href="{% url 'blogs:blog_list' author.id%}"><img {% if author.image %}src="{{MEDIA_URL}}{{author.image}}"{% else %}src="{% static 'img/noimage.jpg'%}"{% endif %} class='img-circle'/></a>
		<a {% if author.nickname %}title="{{author.nickname}}"{% else %}title="{{author.username}}"{% endif %} href="{% url 'blogs:blog_list' author.id %}">{% if author.nickname %}{{author.nickname|slice:':8'}}{%else%}{{author.username|slice:':8'}}{% endif %}<span id='mutual-span'  {% if is_mutual %}style='display:inline'{% else %}style='display:none'{%endif%}>[互相关注]</span></a>
		<a class='follow-btn'>{% if fstatus %}取消关注{% else %}关注{% endif %}</a>
		<p>总访问量：{{author.visit_num}}</p>
		<p>收获的赞：{{author.thumb_num}}</p>
		<p>收到的评论：{{author.comment_num}}</p>
		<p>关注：{{author.follow_num}}</p>
		<p id='fan-p'>粉丝：{{author.fan_num}}</p>
	</div>
	
	<!--下面是博客和博客分类区域-->
	
	<!--下面是中间展示的博客-->   
		<div id='blogs-display'>
			{% for blog in current_page %}
			<dl>
				<dt class='blog-title'><a href="{% url 'blogs:blog_detail' blog.id%}">{{blog.blog_title}}</a><a class='collect' bid='{{blog.id}}'>{% if blog.cstatus %}[取消收藏]{% else %}[收藏]{% endif %}</a></a></dt>
				<dd><a href="{% url 'blogs:blog_detail'  blog.id%}">{{blog.blog_text|safe|slice:':150'}}……</a></dd>
			</dl>
			{% empty %}
			<dl>
				<dt>暂无博客</dt>
				<dd>去<a style='font-weight: bold;text-decoration: underline' href='/'>博客广场</a>看看吧</dd>
			</dl>
			{% endfor %}
			<div id='pagebox'>
					<ul id='pagelist'>
						{% if current_page.has_previous%}
						<a href="?pagenum={{current_page.previous_page_number}}&topic={{topic_id}}&year={{year}}&month={{month}}"><li class='long'>上一页</li></a>
						{% endif %}
						{% for pagenum in current_page.paginator.page_range%}
						<a href="?pagenum={{pagenum}}&topic={{topic_id}}&year={{year}}&month={{month}}"><li {% if pagenum == current_page.number %}class='short chosen'{% else %}class='short'{% endif %}>{{pagenum}}</li></a>
						{% endfor %}
						{% if current_page.has_next %}
						<a href="pagenum={{current_page.next_page_number}}&topic={{topic_id}}&year={{year}}&month={{month}}"><li class='long'>下一页</li></a>
						{% endif %}
					</ul>
				</div>
		</div>
		 
	
	
	<!--下面是右侧热门博主-->
	<div id='right'>
		<h3>按时间分类</h3>
		<ul>
			{% for time in time_list%}
			<li {% if year == time.0 and month == time.1 %}class='active1'{% endif %}><a href="?topic={{topic_id}}&year={{time.0}}&month={{time.1}}&pagenum=">{{time.0}}年{{time.1}}月<span class='badge'>{{time.2}}</span></a></li>
			{% endfor %}
		</ul>
		<h3>按主题分类</h3>
		<ul>
			{% for topic in topic_list %}
			<li {% if topic_id == topic.id %}class='active1'{% endif %}><a title="{{topic.topic_name}}" href="?topic={{topic.id}}&year={{year}}&month={{month}}&pagenum=">{{topic.topic_name|slice:':8'}}<span class='badge'>{{topic.get_count}}</span></a></li>
			{% endfor %}
		</ul>
		
	</div>
		
	</section>
	<footer>
		<a href="/"><img src="{% static 'img/logo.jpg'%}" id='footlogo'/></a>
		<div id="">
			<img src="{% static 'img/qrcode.png'%}" id='qrcode'/>
			<div>联系我们</div>
		</div>
		<p>Copyright&nbsp;&copy;&nbsp;kkblog&nbsp;2019-2029</p>
		
	</footer>
{% endblock content %}

{% block myjs %}
<script>
$(function(){
   //下面是关注和取关的功能
   $('.follow-btn').click(function(){
      var idol_id="{{author.id}}";
	  $.ajax({
		  type:'GET',
		  url:"{% url 'operations:follow'%}",
		  data:{
			  idol_id:idol_id,
		  },
		  success:function(callback){
			  if(callback.status=='ok'){
                $('.follow-btn').text(callback.msg);
				//根据传回来的互关的值判断让互相关注的span显示还是隐藏
                var mutual_span=$('#mutual-span');
				if(callback.is_mutual==1){
					mutual_span.css('display','inline')
				}else{
					mutual_span.css('display','none')
				}	

				//改变博主的粉丝数
				current_fans=parseInt($('#fan-p').text().slice(3));
				$('#fan-p').text('粉丝：'+(current_fans+callback.num));

			  }
			  else{
                  alert(callback.msg)
			  }
		  }

	  })//这是ajax的结尾
   })//这是关注取关的click的结尾


   //下面是收藏和取消收藏的功能
   $('.collect').click(function(){
       var blog_id=$(this).attr('bid');
	   var this_collect=$(this);
	   $.ajax({
           type:'GET',
		   url:"{% url 'operations:collect'%}",
		   data:{
			   blog_id:blog_id,
		   },
		   success:function(callback){
			   if(callback.status=='ok'){
				   //改变按钮的文字
				   this_collect.text(callback.msg);
			   }
			   else{
				   alert(callback.msg)
			   }
		   }
	   })//这是ajax的结尾
   })//这是收藏功能的结尾
})//这是最外面的function的结尾
</script>
{% endblock myjs %}



