{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock title %}
{% block mycss %} <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/> {% endblock mycss %}

{% block content %}
<div id='hide'>
        	
</div>

<!--下面是左边的博客分类-->
<ul id='left'>
    <li>博客分类</li>
    <li class='active1'><a>全部</a></li>
    <li><a>文学</a></li>
    <li><a>艺术</a></li>
    <li><a>情感</a></li>
    <li><a>科技</a></li>
    <li><a>健康</a></li>
    <li><a>美妆</a></li>
    <li><a>其他</a></li>
    

</ul>

<section id='main'>
<!--下面是中间展示的博客-->
<div id='middle'>
    <ul id='blogs-sort'>
        <li class='active2'><a>最热↓</a></li>
        <li ><a>最新↓</a></li>
    </ul>
    
    <div id='blogs-display'>
    {% for blog in blog_list%}
    <dl>
        <dt><a href='blog-detail.html'>{{blog.blog_title}}</a></dt>
        <dd><a href='blog-detail.html'>{{blog.blog_text}}</a></dd>
    </dl>
    {% endfor %}
    </div>
     
</div><!--这是middle的结尾-->
<!--下面是右侧热门博主-->
<div id='right'>
    <P><img src="{% static 'img/rankgold.png' %}"/>热门博主</p>
    {% for author in author_list%}
    <ul>
        <li><a href="{% url 'blogs:blog_list' author.id%}"><img class='img-circle' {% if author.image %}src='{{MEDIA_URL}}{{author.image}}'{% else %}src="{% static 'img/noimage.jpg' %}"{% endif %}/></a></li>
        <li>
            {% if author.nickname%}
            <a title={{author.nickname}} href="{% url 'blogs:blog_list' author.id%}">{{author.nickname|slice:'8'}}</a>
            {% else %}
            <a title={{author.username}} href="{% url 'blogs:blog_list' author.id %}">{{author.username|slice:':8'}}</a>
            {% endif %}
        </li>
    
    </ul>
    {% endfor %}
    
</div>

</section>
{% endblock content %}
        
		
   
