{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}忘记密码{% endblock title%}
{% block mycss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forget-passwd.css' %}"/>
{% endblock mycss%}

{% block content %}
<!--下面是填写邮箱和验证码的表单-->
<form class="form-horizontal col-sm-offset-2 col-sm-6" action="{% url 'users:forget'%}" method='POST'>
	{% csrf_token %}
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="inputEmail3" placeholder="请输入您的邮箱" name='email' {% if user_forget_form.email.value %}value='{{user_forget_form.email.value}}'{% endif %}>
		</div>
	</div>
	<div class='col-sm-offset-2 col-sm-10'>
		<p id='msg-p'>{{msg}}</p>
		{% for k,v in user_forget_form.errors.items %}
            {{v}}
		{%  endfor %}
	</div>
	<div class="form-group">
		<label  for='id_captcha_1' class="col-sm-2 control-label">验证码</label>
		<div class="col-sm-10">
			{{user_forget_form.captcha}}
		</div>
	</div>
	  
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-default" id='submit-btn'>确认</button>
		</div>
	  </div>
</form>
{% endblock content %}


{% block myjs %}
<script>
$(function(){
	$('img.captcha').click(function() {
			$.getJSON('/captcha/refresh/',function(json) {
                // This should update your captcha image src and captcha hidden input
				//console.log(json);
				$("img.captcha").attr("src",json.image_url);
				$("#id_captcha_0").val(json.key);
			});
 
			return false;
		});

})//这是最外层的function的结尾
</script>
{% endblock myjs %}
