{% extends 'base2.html'%}
{% load staticfiles %}
{% block title%}我的关注{% endblock title %}
{%  block mycss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-following.css'%}"/>
{% endblock mycss %}

{% block content %}
<!--下面是右侧的个人资料展示区-->
<dl id='right'>
        <dt id='total_num'>共关注{{request.user.follow_num}}位博主</dt>
        
        
        {% for idol in current_page%}
        <dd>
            <a href="{% url 'blogs:blog_list' idol.id%}"><img {% if idol.image %}src="{{MEDIA_URL}}{{idol.image}}"{% else %}src="{% static 'img/noimage.jpg'%}"{% endif %} class='img-circle'/></a>
            <a href="{% url 'blogs:blog_list' idol.id%}" {% if idol.nickname%}title="{{idol.nickname}}"{% else %}title="{{idol.username}}"{%endif%}>{% if idol.nickname %}{{idol.nickname|slice:':8'}}{%else%}{{idol.username|slice:':8'}}{% endif %}<span {% if idol.is_mutual%} style='display: inline;'{% else %}style='display:none'{% endif %}>[互相关注]</span></a>
            <a class='follow-btn' fid="{{idol.id}}">取消关注</a>
        </dd>
        {%  empty %}
        <p>
            快去<a href='/' class='active1'>博客广场</a>看看有没有喜欢的博主吧。
        </p>
        {% endfor %}
        
        
    </dl>
    <div id='pagebox'>
            <ul id='pagelist'>
                {% if current_page.has_previous%}
                <a href="?pagenum={{current_page.previous_page_number}}"><li class='long'>上一页</li></a>
                {% endif %}
                {% for pagenum in current_page.paginator.page_range%}
                <a href="?pagenum={{pagenum}}"><li {% if pagenum == current_page.number %}class='short chosen'{% else %}class='short'{% endif %}>{{pagenum}}</li></a>
                {% endfor %}
                {% if current_page.has_next %}
                <a href="pagenum={{current_page.next_page_number}}"><li class='long'>下一页</li></a>
                {% endif %}
            </ul>
        </div>
{% endblock content%}

{% block myjs %}
<script>
$(function(){
  $('.follow-btn').click(function(){
      var idol_id=$(this).attr('fid');
      //把被点击的这个取消按钮的父元素dd找到，这是我们一会儿要删除的
      var this_idol=$(this).parent('dd');
      $.ajax({
         type:'GET',
         url:"{% url 'operations:follow' %}",
         data:{
            idol_id:idol_id,
         },
         success:function(callback){
             if(callback.status=='ok'){
                 //取关成功，改变关注人总数
                 var total_num=parseInt($('#total_num').text().slice(3))
                 $('#total_num').text('共关注'+(total_num+callback.num)+'位博主')
                 //移除已经取关的博主
                 this_idol.remove()
                 //如果取关了这位博主后，总关注数就等于0了，那么就让p标签出现
                 if(total_num+callback.num==0){
                    var p=$("<p>快去<a href='/' class='active1'>博客广场</a>看看有没有喜欢的博主吧。</p>");
                    var right=$('#right');
                    right.append(p);
                 }
                 
             }
             else{
                 alert(callback.msg)
             }
         }
      })//这是ajax的结尾
  })//这是取消关注的click的结尾
})//这是最外面的function的结尾
</script>
{% endblock myjs%}


