{% extends 'base2.html'%}
{% load staticfiles %}
{% block title %}我的收藏{% endblock title %}
{% block mycss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-myblogs.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-mycollections.css'%}"/>
{% endblock mycss%}

{% block content %}
<!--下面是博客和博客分类区域-->
<section id="main">
        <!--下面是中间展示的博客-->   
            <div id='blogs-display'>
                {% for blog in blog_list%}
		        <dl>
		            <dt class='blog-title'><a href="#">{{blog.blog_title}}</a><a class='move' href='personal-center-mycollection-move.html'>[移动]</a><a class='delete-cl'>[删除]</a></dt>
		            <dd><a>{{blog.blog_title}}</a></dd>
                </dl>
                {% empty %}
                <dl>
                    <dt class='blog-title'>暂无收藏的博客</dt>
                    <dd>快去<a href="/" style='font-weight: bold;text-decoration: underline'>博客广场</a>看看吧</dd>
                </dl>
                {% endfor %}
		        
	        </div>
	         
        </div><!--这是middle的结尾-->
        
        <!--下面是右侧的收藏夹分类以及新建收藏夹-->
        <div id='right'>
            <h3>我的收藏夹</h3>
            <ul id='bookmark-sort'>
                {% for bookmark in bookmark_list %}
                <li {% if bookmark_id == bookmark.id %} class='active1' {% endif %}><a  href="?bookmark={{bookmark.id}}">{{bookmark.bookmark_name}}<span class=badge>{{bookmark.get_count}}</span></a>{% if bookmark.get_count == 0 and not bookmark.is_default %}<span class='glyphicon glyphicon-trash' title='删除' bid='{{bookmark.id}}'></span>{% endif %}</li>
                {% endfor %}
            </ul>
            <form action="{% url 'users:mycollections' %}" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                   <label for="new-file">新建收藏夹</label>
                   <input type="text" class="form-control" id="new-bookmark" placeholder="请输入新收藏夹的名字" name='bookmark_name'>
                </div>
                {% for k,v in new_bookmark_form.errors.items%}
                {{v}}
                {% endfor %}
                <button type="submit" class="btn btn-default">新建</button>
            </form>
        </div>
        	
</section>
{% endblock content %}

{% block myjs %}
<script src="{% static 'js/personal-center-mycollectons.js'%}" type="text/javascript" charset="utf-8"></script>
<script>
$(function(){
    $('.glyphicon-trash').click(function(){
        var bookmark_id=$(this).attr('bid');
        var this_trash=$(this);
        c=confirm('确定删除该收藏夹？');
        if(c==true){
            $.ajax({
            type:'GET',
            url:"{% url 'blogs:delete_bookmark'%}",
            data:{
                bookmark_id:bookmark_id,
            },
            success:function(callback){
               if(callback.status=='ok'){
                   alert(callback.msg);
                   var li=this_trash.parent('li');
                   li.remove()
               }
               else{
                   alert(callback.msg)
               }
            }
        })//这是ajax的结尾
        }//这是if的结尾 
    })//这是删除收藏夹的click的结尾
})//这是最外面的function的结尾
</script>
{% endblock myjs%}
