{% extends 'base2.html'%}
{% load staticfiles %}
{% block title %}我的博客{% endblock title %}
{% block mycss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-myblogs.css' %}"/>
{% endblock mycss%}

{% block content %}
<!--下面是博客和博客分类区域-->
<section id="main">
        <!--下面是中间展示的博客-->   
            <div id='blogs-display'>
                    <dl>
                        <dt id='grade'>博客成绩</dt>
                        <dd id='grade-detail'><span>总点击量：{{request.user.visit_num}}</span><span>收获的赞：{{request.user.thumb_num}}</span>收到的评论：{{request.user.comment_num}}<span></span></dd>
                    </dl>

                {% for blog in current_page%}
		        <dl>
		            <dt class='blog-title'><a href="{% url 'users:myblog_detail' blog.id%}">{{blog.blog_title}}</a><a class='edit' href="{% url 'users:edit_blog' blog.id%}">[修改]</a><a class='delete-btn' bid="{{blog.id}}">[删除]</a></dt>
		            <dd><a href="{% url 'users:myblog_detail' blog.id%}">{{blog.blog_text|safe|slice:':150'}}……</a></dd>
                </dl>
                {% empty %}
		        <dl>
		            <dt>没有内容</dt>
		            <dd>快去写一篇博客吧<a href="{% url 'users:write_blog'%}" style="font-weight: bold;text-decoration: underline">写博客</a></dd>
                </dl>
                {% endfor %}
                <div id='pagebox'>
                        <ul id='pagelist'>
                            {% if current_page.has_previous%}
                            <a href="?pagenum={{current_page.previous_page_number}}&topic={{topic_id}}&year={{year}}&month={{month}}"><li class='long'>上一页</li></a>
                            {% endif %}
                            {% for pagenum in current_page.paginator.page_range%}
                            <a href="?pagenum={{pagenum}}&topic={{topic_id}}&year={{year}}&month={{month}}"><li {% if pagenum == current_page.number %}class='short chosen'{% else %}class='short'{% endif %}>{{pagenum}}</li></a>
                            {% endfor %}
                            {% if current_page.has_next %}
                            <a href="pagenum={{current_page.next_page_number}}&topic={{topic_id}}&year={{year}}&month={{month}}"><li class='long'>下一页</li></a>
                            {% endif %}
                        </ul>
                    </div>
		        
	        </div>
	         
        </div><!--这是middle的结尾-->
        
        <!--下面是右侧热门博主-->
        <div id='right'>
            <h3>按时间分类</h3>
            <ul id='time-sort'>
                {% for time in time_list %}
                <li {% if year == time.0 and month == time.1 %}class='active1'{% endif %}><a href="?year={{time.0}}&month={{time.1}}&topic={{topic_id}}&pagenum=">{{time.0}}年{{time.1}}月<span class='badge'>{{time.2}}</span></a></li>
                {% endfor %}
                
            </ul>
            <h3>按主题分类</h3>
            <ul id='topic-sort'>
                {%for topic in topic_list%} 
                <li {% if topic_id == topic.id %}class='active1'{% endif %} ><a title="{{topic.topic_name}}" href="?topic={{topic.id}}&year={{year}}&month={{month}}&pagenum=">{{topic.topic_name|slice:':8'}}<span class='badge'>{{topic.get_count}}</span></a>{% if topic.get_count == 0  and  not topic.is_default %}<span class='glyphicon glyphicon-trash' tid='{{topic.id}}' title='删除'></span>{% endif %}</li>
                {% endfor %}
            </ul>
            <form action="{% url 'users:myblogs'%}" method="POST">
                    {% csrf_token %}
                <div class="form-group">
                   <label for="new-topic">新建主题</label>
                   <input type="text" class="form-control" id="new-topic" placeholder="请输入新主题"  name='topic_name'>
                   
                </div>
                {% for k,v in new_topic_form.errors.items%}
                {{v}}
                {% endfor %}
                <button type="submit" class="btn btn-default" id='new'>新建</button>
            </form>          
        	
        </div>
        	
		</section>
{% endblock content %}

{% block myjs %}
<script src="{% static 'js/personal-center-myblogs.js'%}" type="text/javascript" charset="utf-8"></script>
<script>
$(function(){
    //下面是用ajax删除主题
    $('.glyphicon-trash').click(function(){
        //获取要删除的主题的id值
        var topic_id=$(this).attr('tid');
        var this_span=$(this);
        var c=confirm('确定要删除该主题吗？');
        if(c==true){
            $.ajax({
           type:'GET',
           url:"{% url 'blogs:delete_topic'%}",
           data:{
               topic_id:topic_id,
           },
           success:function(callback){
              if(callback.status=='ok'){
                  alert(callback.msg);
                  var this_li=this_span.parent('li');
                  this_li.remove()
              }
              else{
                  alert(callback.msg)
              }
           }
        }) //这是ajax的结尾

      }//这是判断confirm的答案为true的那个if的结尾

        
    })//这是click的结尾

    //下面是用ajax删除博客
    $('.delete-btn').click(function(){
         var blog_id=$(this).attr('bid');
         var c=confirm('确定要删除这篇博客吗？')
         if(c==true){
            $.ajax({
              type:'GET',
              url:"{% url 'blogs:delete_blog'%}",
              data:{
                  blog_id:blog_id,
              },
              success:function(callback){
                   if(callback.status=='ok'){
                       alert(callback.msg);
                       window.location.reload()
                   }
                   else{
                       alert(callback.msg)
                   }
              }
          })//这是ajax的结尾
         }  
    })//这是删除博客的click的结尾

    
})//这是最外面的function的结尾
</script>
{% endblock myjs %}

        
        
		
