{% extends 'base2.html'%}
{% load staticfiles %}
{% block title %}我的博客{% endblock title %}
{% block mycss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-myblogs.css' %}"/>
{% endblock mycss%}

{% block content %}
<!--下面是博客和博客分类区域-->
<section id="main">
        <!--下面是中间展示的博客-->   
            <div id='blogs-display'>
                {% for blog in blog_list%}
		        <dl>
		            <dt class='blog-title'><a href='personal-center-myblog-detail.html'>{{blog.blog_title}}</a><a class='edit' href='edit-blog.html'>[修改]</a><a class='delete-btn'>[删除]</a></dt>
		            <dd><a href='personal-center-myblog-detail.html'>{{blog.blog_text}}</a></dd>
                </dl>
                {% empty %}
		        <dl>
		            <dt>没有内容</dt>
		            <dd>快去写一篇博客吧<a href="#" style="font-weight: bold;text-decoration: underline">写博客</a></dd>
                </dl>
                {% endfor %}
		        
	        </div>
	         
        </div><!--这是middle的结尾-->
        
        <!--下面是右侧热门博主-->
        <div id='right'>
            <h3>按时间分类</h3>
            <ul>
                {% for time in time_list %}
                <li><a>{{time.0}}年{{time.1}}月<span class='badge'>4</span></a></li>
                {% endfor %}
                
            </ul>
            <h3>按主题分类</h3>
            <ul>
                {%for topic in topic_list%} 
                <li><a>{{topic.topic_name|slice:':8'}}<span class='badge'>{{topic.blog_set.all.count}}</span></a>{% if topic.blog_set.all.count == 0  and  not topic.is_default %}<span class='glyphicon glyphicon-trash'></span>{% endif %}</li>
                {% endfor %}
            </ul>
            <form>
                <div class="form-group">
                   <label for="new-topic">新建主题</label>
                   <input type="text" class="form-control" id="new-file" placeholder="请输入新主题">
                </div>
                <button type="submit" class="btn btn-default">新建</button>
            </form>          
        	
        </div>
        	
		</section>
{% endblock content %}

{% block myjs %}
<script src="{% static 'js/personal-center-myblogs.js'%}" type="text/javascript" charset="utf-8"></script>
{% endblock myjs %}

        
        
		
