{% extends 'base2.html' %}
{% load staticfiles %}
{% block title %}我的粉丝{% endblock title%}
{% block mycss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-following.css'%}"/>
{% endblock mycss%}

{% block content%}
<!--下面是右侧的个人资料展示区-->
<dl id='right'>
        <dt id="total_num">共有{{request.user.fan_num}}位粉丝</dt>
        
        {% for fan in fan_list %}
        <dd>
            <a><img {% if fan.image %}src="{{MEDIA_URL}}{{fan.image}}"{% else %} src="{% static 'img/noimage.jpg'%}"{% endif%} class='img-circle'/></a>
            <a {% if fan.nickname %}title="{{fan.nickname}}"{% else %}title="{{fan.username}}"{% endif %} href="{% url 'blogs:blog_list' fan.id%}">{% if fan.nickname %}{{fan.nickname|slice:':8'}}{% else %}{{fan.username|slice:':8'}}{% endif %}<span {% if fan.is_mutual %} style='display:inline'{% else %}style='display:none'{% endif %} class='mutual-span'>[互相关注]</span></a>
            <a class='follow-btn' fid="{{fan.id}}">{% if fan.is_mutual%}取消关注{% else %}关注{% endif %}</a>
        </dd>
        {% empty %}
        <p>
            快去<a href='/' class='active1'>博客广场</a>寻找志同道合的朋友吧。
        <p>
        {% endfor %}
        
        
        
    </dl>
{% endblock content %}

{% block myjs %}
<script>
$(function(){
  //下面是关注和取消关注的功能
  $('.follow-btn').click(function(){
    var idol_id=$(this).attr('fid');
    var this_fbtn=$(this);
    var this_mutual_span=$(this).parent('dd').find('.mutual-span');
    $.ajax({
       type:'GET',
       url:"{% url 'operations:follow'%}",
       data:{
         idol_id:idol_id,
       },
       success:function(callback){
           if(callback.status=='ok'){
               //如果关注或者取关成功了，要修改follow-btn里的文字
               this_fbtn.text(callback.msg);
               //根据传回来的是否互关修改互关的span的display值
               if(callback.is_mutual==0){
                  this_mutual_span.css('display','none');
               }
               else{
                   this_mutual_span.css('display','inline');
               }
           }
           else{
               alert(callback.msg)
           }
       }
    })//这是ajax的结尾
  })//这是关注click的结尾
})//这是最外面的function的结尾
</script>
{% endblock myjs %}