{% extends 'base2.html'%}
{% load staticfiles%}
{% block title%}我的消息{% endblock title%}
{% block mycss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal-center-myblogs.css'%}"/>
<link rel="stylesheet" href="{% static 'css/personal-center-messages.css'%}" />
{% endblock mycss%}
{% block hide%}
<!--下面是上方用于遮挡的白条-->
<div id='hide'>
        	
</div>
{% endblock hide%}

{% block content%}
<!--下面是消息区域-->
<section id="main">
        <ul id='blogs-sort'>
            <li {% if read == 'no'%}class='active2'{% endif %}><a href="?read=no&sort={{sort}}">未读↓</a></li>
            <li {% if read == 'yes'%}class='active2'{% endif %}><a href="?read=yes&sort={{sort}}">已读↓</a></li>
            <li {% if read == 'all'%}class='active2'{% endif %}><a href="?read=all&sort={{sort}}">全部↓</a></li>
        </ul>
    <!--下面是中间展示的消息-->   
        <div id='blogs-display'>
            {% for usernotice in usernotice_list %}
            <dl>
                <dt class='msg-title'>系统通知[{{usernotic.addtime}}]<a class='read-msg'>[标为已读]</a><a class='delete-msg'>[删除]</a></dt>
                <dd>{{usernotice.notice_content}}</dd>
            </dl>
            {% endfor %}
            {% for usercomment in usercomment_list%}
            <dl>
                <dt class='msg-title'><a>{{usercomment.speaker.nickname}}评论了你的博文《{{usercomment.comment_blog.blog_title}}》[{{usercomment.addtime}}]</a><a class='read-msg'>[标为已读]</a><a class='delete-msg'>[删除]</a></dt>
                <dd><a>{{usercomment.comment_content}}</a></dd>
            </dl>
            {% endfor %}

            {% for userfollow in userfollow_list%}
            <dl>
                <dt class='msg-title'><a href='personal-center-followers.html'>{{userfollow.oneself.nickname}}关注了你&nbsp;[{{userfollow.addtime}}]</a><a class='read-msg'>[标为已读]</a><a class='delete-msg'>[删除]</a></dt>
                <dd>去看看他的主页吧<a href="{% url 'blogs:blog_list' userfollow.oneself.id%}" class='his-page'>{{userfollow.oneself.nickname}}</a></dd>
            </dl>
            {% endfor %}
            
            {% for userthumb in userthumb_list%}
            <dl>
                <dt class='msg-title'>{{userthumb.oneself.nickname}}点赞了你的博文《{{userthumb.thumbup_blog.blog_title}}》[{{userthumb.addtime}}]<a class='read-msg'>[标为已读]</a><a class='delete-msg'>[删除]</a></dt>
                <dd>去看看他的主页吧<a href="{% url 'blogs:blog_list' userthumb.oneself.id%}" class='his-page'>{{userthumb.oneself.nickname}}</a></dd>
            </dl>
            {% endfor %}
            
        </div>
         
    </div><!--这是middle的结尾-->
    
    <!--下面是右侧消息分类-->
    <div id='right'>
        <h3>消息分类</h3>
        <ul>
            <li {% if sort == 'comment'%}class='active1'{% endif %}><a href="?sort=comment&read={{read}}">评论{% if comment_num%}<span class='badge'>{{comment_num}}</span>{% endif %}</a></li>
            <li {% if sort == 'thumb'%}class='active1'{% endif %}><a href="?sort=thumb&read={{read}}">点赞{% if thumb_num%}<span class='badge'>{{thumb_num}}</span>{% endif %}</a></li>
            <li {% if sort == 'follow'%}class='active1'{% endif %}><a href="?sort=follow&read={{read}}">关注{% if follow_num%}<span class='badge'>{{follow_num}}</span>{% endif %}</a></li>
            <li {% if sort == 'notice'%}class='active1'{% endif %}><a href="?sort=notice&read={{read}}">系统通知{% if notice_num %}<span class='badge'>{{notice_num}}</span>{% endif %}</a></li>
        </ul>
    </div>
        
    </section>
{% endblock content%}

{% block myjs%}
<script src="{% static 'js/personal-center-messages.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
$(function(){
 var len = $('#blogs-display').children('dl').length;
 if(len==0){
     var new_dl=$("<dl><dt class='msg-title'>暂无消息</dt><dd>去<a href='/' style='font-weight:bold;text-decoration:underline;'>博客广场</a>看看吧</dd></dl>")
     $('#blogs-display').append(new_dl);
 }

})//这是最外面的function的结尾
</script>
{% endblock myjs%}

